name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    # Install dependencies (modify as needed)
    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install -y \
        build-essential cmake libeigen3-dev libopencv-dev libyaml-cpp-dev

    - name: Configure CMake
      run: cmake -S . -B build

    - name: Build
      run: cmake --build build --parallel

    - name: Run unit tests
      run: ctest --test-dir build --output-on-failure
